<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Your Dictionary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Word <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="body-div">
  <table class="styled-table">
    <thead>
    <tr>
      <th>
        English word
      </th>
      <th>
        Transcription
      </th>
      <th>
        Translate word
      </th>
      <th>
        Activity
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let word of words" id="main-container">
      <td>{{word.englishWord}}</td>
      <td> {{word.transcription}}</td>
      <td>{{word.translateWord}}</td>
      <td>
        <button type="button" (click)="onOpenModal(word, 'delete')" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete</button>
        <button type="button" (click)="onOpenModal(word, 'update')" class="btn btn-primary" data-toggle="modal" data-target="#updateModal" data-whatever="@fat">Update</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addWordModal" tabindex="-1" role="dialog" aria-labelledby="addWordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addWordModalLabel">Add Word</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddWord(addForm)">
          <div class="form-group">
            <label for="english word">English word</label>
            <input type="text" ngModel name="englishWord" class="form-control" id="english word" placeholder="english word" required>
          </div>
          <div class="form-group">
            <label for="transcription">Transcription</label>
            <input type="email" ngModel name="transcription" class="form-control" id="transcription" placeholder="Transcription" required>
          </div>
          <div class="form-group">
            <label for="translate word">Translate word</label>
            <input type="text" ngModel name="translateWord" class="form-control" id="translate word" placeholder="Translate word" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-word-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid"  type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Employee Modal -->
<div class="modal fade" id="editWordModal" tabindex="-1" role="dialog" aria-labelledby="editWordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editWordModalLabel">Edit Word</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="englishWord">English word</label>
            <input type="text" ngModel="{{editWord?.englishWord}}" name = "englishWord" class="form-control" id="englishWord" placeholder="english word" required>
          </div>
          <div class="form-group">
            <label for="editTranscription">Transcription</label>
            <input type="email" ngModel="{{editWord?.transcription}}" name = "transcription" class="form-control" id="editTranscription" placeholder="Transcription" required>
          </div>
          <div class="form-group">
            <label for="translateWord">Translate word</label>
            <input type="text" ngModel="{{editWord?.translateWord}}" name = "translateWord" class="form-control" id="translateWord" placeholder="Translate word" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="edit-word-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="onEditWord(editForm.value)" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteWordModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Word</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete word?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteWord(deleteWord.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>


