<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="body-div">

  <table class="styled-table">
    <thead>
    <tr>
      <th>
        English word
      </th>
      <th>
        Transcription
      </th>
      <th>
        Translate word
      </th>
      <th>
        Activity
      </th>
    </tr>
    </thead>

    <tbody id="main-container">
      <tr *ngFor="let word of words">
        <td>{{word.englishWord}}</td>
        <td> {{word.transcription}}</td>
        <td>{{word.translateWord}}</td>
        <td>
          <div class="modal-fade" id="addWordModal" aria-labelledby="addWordModalLabel" (click) ="onOpenModal(word, 'add')">
            <a (click)="onOpenModal(word, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><button type="button" data-toggle="modal"></button> </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  </div>

</body>
</html>
